.service a {
  color: black;
}
.service a:hover {
  color: black;
}
.serviceCard {
  background-color: aliceblue;
  padding: 20px 30px;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.serviceCard img {
  width: 150px;
}

@media (max-width: 991px) {
  .service {
    margin-bottom: 10px;
  }
}
