.infoCard {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #eef1f5;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
}

.infoCard img {
  width: 50px;
}
.infoCard span {
  font-size: 20px;
}

.infoCard div span {
  margin-left: 5px;
}
.infoCard .icons {
  width: 20px;
  margin-top: -5px;
}
