.menu a {
  color: #000;
  text-decoration: none;
}
.menu {
  box-shadow: 0 0 10px #c1c4cc;
}

.menu a:hover {
  text-decoration: none;
  color: #000;
}
.menu-item .nav-link {
  color: #000;
}
.menu-item a:hover {
  color: #000;
  text-decoration: none;
}
.logo a:hover {
  color: #ff6e40 !important;
}
.logo a {
  color: #ff6e40;
  font-weight: 600;
  font-size: 30px;
}
.menu .color {
  color: #ff6e40;
  font-weight: 600;
}
.button {
  background-color: #ff6e40 !important;
  color: aliceblue !important;
  border: none !important;
}
